<!DOCTYPE html>
<html lang="en">


<head>
    <title>TITLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_files/cssfile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Copse' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-image: url('static/pictures/yellow-beer.jpg');
        }
    </style>
</head>

<body>
    
    <div id="top">
        
        <header_top id="text_top">
            <img src="../static/pictures/png.png" alt="something" width=130 />
            Pizzeria Mario & Luigi
            <img src="../static/pictures/PNG_2.png" width=130 /> 
        </header_top>
        
    </div>
    <section id="left_and_right_side">
        <section id="leftside"style="overflow:scroll;">
            <div id="boxdiv">
                <div class="box" id="box1">
                    <div class="boxtext">
                        Pepperoni
                    </div>
                    <div class="descriptionbox">
                        
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box2">
                    <div class="boxtext">
                        Hawaii
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box3">
                    <div class="boxtext">
                        Funghi
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box4">
                    <div class="boxtext">
                        Salami
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
            </div>
            <div id="boxdiv">
                <div class="box" id="box1">
                    <div class="boxtext">
                        Margherita
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box2">
                    <div class="boxtext">
                        Khebab
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box3">
                    <div class="boxtext">
                        Running Chicken
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box4">
                    <div class="boxtext">
                        Original recipe
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
            </div>
            <div id="boxdiv">
                <div class="box" id="box1">
                    <div class="boxtext">
                        Italiana
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box2">
                    <div class="boxtext">
                        4 Cheese
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box3">
                    <div class="boxtext">
                        Carbonara
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
                <div class="box" id="box4">
                    <div class="boxtext">
                        Mystery Pizza
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="rightside">
            <div id="outputboxfororder">
                
            </div>
            <div id="submitbutton">
                <button type="button" id="submitorderbutton">Submit Order</button>
            </div>
        </section>
    </section>
</body>
</html>