<!DOCTYPE html>
<html lang="en">


<head>
    <title>TITLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_files/cssfile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Copse' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-image: url('static/pictures/yellow-beer.jpg');
        }
    </style>
</head>

<body>
    
    <div id="top">
        
        <header_top id="text_top">
            <img src="../static/pictures/png.png" alt="something" width=130 />
            Pizzeria Mario & Luigi
            <img src="../static/pictures/PNG_2.png" width=130 /> 
        </header_top>
        
    </div>
    <section id="left_and_right_side">
        <section id="leftside"style="overflow-y: scroll;">

            <div id="boxdiv">
                <div class="box" id="box1" onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Pepperoni
                        <p class="price">12$</p>
                    </div>
                    <div class="descriptionbox">
                        
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box2"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Hawaii
                        <p class="price">11$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box3"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Funghi
                        <p class="price">9$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box4"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Salami
                        <p class="price">13$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
            </div>
            <div id="boxdiv">
                <div class="box" id="box1"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Margherita
                        <p class="price">8$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box2"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Khebab
                        <p class="price">13$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box3"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Running Chicken
                        <p class="price">13$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box4"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Original recipe
                        <p class="price">10$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
            </div>
            <div id="boxdiv">
                <div class="box" id="box1"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Italiana
                        <p class="price">14$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box2"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        4 Cheese
                        <p class="price">9$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box3"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Carbonara
                        <p class="price">11$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
                <div class="box" id="box4"onclick="location.href='#';" style="cursor: pointer;">
                    <div class="boxtext">
                        Mystery Pizza
                        <p class="price">15$</p>
                    </div>
                    <div class="descriptionbox">
                    
                    </div>
                    <div class="submitbox">
                        <div class="plusbutton"onclick="location.href='#';" style="cursor: pointer;"></div>
                    </div>
                </div>
            </div>
        
        </section>
        <section id="extrasfield" style="overflow-y: scroll;">
            <p id="extrasheading">Extras:</p>
            <div class="dropdown">
                <button class="dropbtn">Add-ons</button>
                <div class="dropdown-content">
                    <a href="#">Extra Cheese</a>
                    <a href="#">Extra Meat</a>
                    <a href="#">Extra ...</a>
                </div>
            </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Drinks</button>
                <div class="dropdown-content">
                    <a href="#">Mineral Water 0,5L</a>
                    <a href="#">Mineral Water 1,5L</a>
                    <a href="#">Airyan 0,5L</a>
                    <a href="#">Airyan 1L</a>
                    <a href="#">Juice</a>
                    <a href="#">Coffee</a>
                    <a href="#">Soft Drinks</a>

                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Desserts</button>
                <div class="dropdown-content">
                    <a href="#">Ice Cream</a>
                    <a href="#">Homemade Cake</a>
                    <a href="#">Biscuit</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Packages for Home</button>
                <div class="dropdown-content">
                    <a href="#">Plastic tray</a>
                    <a href="#">Plastic Cutlery</a>
                </div>
            </div>
        </section>
        <section id="rightside">
            <div id="outputboxfororder">
                ORDER LIST:
                <input type="text" id="notes"  placeholder="Notes:"><br><br>
            </div>
            <div id="submitbutton">
                <button type="button" id="submitorderbutton">Submit Order</button>
            </div>
        </section>
    </section>

    <script>

        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;

                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];

                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>
</body>
</html>