<!DOCTYPE html>
<html lang="en">
    

<head>
    <title>John's Beer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_files/cssfile.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <style>
        * {
            box-sizing: border-box;
        }  
        body{
            background-image: url('static/pictures/yellow-beer.jpg');
        }    
    </style>
</head>

<body>

    <div id="top">
        <header_top id="text_top">John's beer</header_top>
    </div>
    <section id = "left_and_right_side" >
        <div id="leftside">
            <header_adL id="text_ad_left">AD</header_adL>
        </div>

        <img src="static/pictures/cartoon-crazy-thirsty-man-who-see-vision-glass-beer-mug-pint-stick-figure-drawing-conceptual-illustration-141981117.jpg"
            alt="Trulli" width="300" height="333" position="absolute"
            style="border:5px solid #000000; padding:0px; margin:100px">
        <div id="rightside">
            <header_adR id="text_ad_right">AD</header_adR>
        </div>
                <button onclick="location.href='web2'" class="button playbutton" style="font-family: cursive;font-size:xx-large;">Play</button>

    </section>
    
    <div id="bottompart">
    <ul>
    <li id=" credits">
        <p id = "text">#text <br> #buy me a beer <br>#credits</p>
    </li>
    <li id ="How to play">
        <button class="button howtoplaybutton">How to play?</button>
    </li>
    <li id=special style="float:right" ><img id = globe src="static/pictures/globeicon.png" alt="globe Icon"></img></li>
    </ul>

    </div>

</body>
</html>